// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


[v-cloak] {
  display: none;
}

.nav-tabs {
  margin-bottom: 15px;
}

.error-box {
  position: fixed;
  right: 5rem;
  top: 72px;
  width: 375px;
  z-index: 9999;

  ul {
    padding-left: 15px;
  }
}

.panel-title {
  display: flex;
  align-items: center;
  height: 36px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
